#programs {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #fffef4;
}

.program {
    flex: 1;
    padding: 2rem;
    background: #fffef4;
}

#programs h1 {
    font-family: 'Jetlab';
    text-transform: uppercase;
    font-size: 12pt;
    line-height: 12pt;
}

#programs p {
    font-family: 'Alte DIN 1451 Mittelschrift';
    font-size: 12pt;
    line-height: 12pt;
}

#programs hr {
    border: 1.5px solid black;
    margin: 0.5rem 0 0.45rem 0;
    width: 20rem;
}